
@model Lubricants.Models.Add_item
@*@ViewBag.d*@
<div class="card card-1 bg-light text-dark">
    <div class="card-body ">
        <div class="row">
            <div class="col-lg-12">


                <h4>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;Submit stock

                </h4>
            </div>

        </div>
    </div>
</div>
@if (ViewBag.StockUpdateStatus != null)
{
    <div class="alert alert-success" role="alert" style="margin-top:10px;">
        <h4 class="alert-heading">Success!</h4>
        <p>@ViewBag.StockUpdateStatus</p>
        <hr>
        <p class="mb-0">NB:Confirm the values from the dialog before submission.</p>
    </div>
}
<div class="row">
    @{
        if (ViewBag.JoinList == null)
        {
            <div class="col-lg-12" style="margin:5px;">

                <div class="alert alert-danger" role="alert" style="margin-top:10px;">
                    <div class="row">

                        <div class="col-lg-1">
                            <img src="/SystemImage/done.png" style="width:80px;height:80px;" alt="" />
                        </div>
                        <div class="col-lg-11 text-left">
                            <h4 class="alert-heading">You are all set for today!</h4>
                            <p>All records have been submitted.</p>

                        </div>


                    </div>
                    <hr>
                    <p class="mb-0">NB:Confirm the values from the dialog before submission.</p>
                </div>
            </div>
        }
        else
        {
            @foreach (var item in ViewBag.JoinList)
            {
                <div class="col-lg-12" style="margin:5px;">

                    <div class="card card-1 bg-light text-light" style="border:none">
                        <div class="card-body bg-dark " style="border:none">
                        
                            <h6>
                                <img src="/@item.ImageURL" alt="" class="rounded-circle" style="height:50px; width: 50px;border: 2px;border: 2px solid #1ABC9C; " />

                                &nbsp;&nbsp;|&nbsp;&nbsp;Please count &nbsp;<span class="badge badge-pill badge-light">@item.Item_name</span> &nbsp; and enter the results below:
                            </h6>
                            <table class="table table-dark text-green">
                                <tr>
                                    <td><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Availlable:</td>
                                    <td><span class="badge badge-pill badge-light">@item.Quantity</span></td>
                                </tr>
                                <tr>

                                    <td><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Price:</td>
                                    <td><span class="badge badge-pill badge-light">@item.Item_price</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" asp-controller="Add_item" asp-action="SubmitStock">
                                <div class="row">
                                    
                                    <div class="col-lg-4 text-center" style="margin-top:10px;">
                                        <input name="Quantity" required placeholder="Enter stock count here" class="form-control" />
                                        @* HIDDEN INPUTS CONTAINING ID *@

                                        <input required type="hidden" placeholder="Enter stock count here" id="itemQuantity" name="id" value="@item.id" class="form-control" />
                                        <input required type="hidden" placeholder="Enter stock count here"  value="@item.Item_name" class="form-control" />
                         </div>
                                 <div class="col-lg-4  text-center" style="margin-top:10px;">
                                     <button type="submit"  class="btn btn-primary">Submit &nbsp;&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">

         Modal content
        <div class="modal-content">
            <div class="modal-header bg-dark text-light text-center">
                <h6> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Please the  confirm the values before submiting</h6>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr style="border-radius:15px;">
                        <td colspan="2" class="text-center">
                            <div class="card bg-green text-light" style="        border-radius: 25px;
        padding: 10px;
        background-color: #1ABC9C
">
                                <h6> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;      @ViewBag.Item_name</h6> 

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Submitted stock:</td>
                        <td>@ViewBag.EnteredQuantity</td>
                    </tr>
                    <tr>
                        <td>Initial stock value:</td>
                        <td>
                            @ViewBag.InitialQuantity
                        </td>
                    </tr>
                    <tr>
                        <td>Item(s) sold:</td>
                        <td>@ViewBag.sold</td>
                    </tr>
                    <tr>
                        <td>Item price:</td>
                        <td>@ViewBag.price</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>@ViewBag.ChashMade</td>
                    </tr>
                </table>
                @*<p id="displayname">@ViewBag.test</p>*@
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts3
{
    <script type="text/javascript">
    $(document).ready(function () {
        //displayname.value = item_name;
        //displayquantity.innerHTML = inputValue;

        //document.getElementById("displayname").innerHTML = a;
        //document.getElementById("displayquantity").innerHTML = document.getElementById("item_name1").value;
        var data = "@ViewBag.AllowPopup";

        if (data == "1") {

            $('#myModal').modal('show')

        }
        else {

        }
       

    });
    </script>

}
