@model Lubricants.Models.BooksDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CategoriesBooks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriesBooks.CatName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriesBooks.CatName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoriesBooks.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CatItems item in Model.catItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatId)
                </td>
              
            </tr>
        }
    </tbody>
</table>

<!--hapa ndo tutaweka method ya kucreate..azin kuadd net items to thet cat-->
<h1>Create</h1>

<h4>CatItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCatItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <!--mean while we ditecr the page ikisha upload-->
            <div class="form-group">
                <!--run iyo page-->
                <input type="hidden" value="@Model.CategoriesBooks.id" asp-for="CatId" class="form-control" />
                <!--acha nifungue project falni  unaona imepick cat id..sasaa ni kudisplay-->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



